<aside class="main-sidebar sidebar-light-primary elevation-4">

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">

			<ion-icon size="large" name="logo-apple-appstore"></ion-icon>

			<div class="info">
				<a class="d-block" href="#">L F I L A I L</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
				<li class="nav-item has-treeview menu-open"><a class="nav-link"
					href="#"> <i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Fill these forms ! <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a
							href="http://localhost:9898/inputbiodata" class="nav-link"> <i
								class="fas fa-circle nav-icon"></i>
								<p>Biodata</p>
						</a></li>
						<li class="nav-item"><a
							href="http://localhost:9898/inputeducation" class="nav-link">
								<i class="fas fa-circle nav-icon"></i>
								<p>Education</p>
						</a></li>
					</ul></li>
				<li class="nav-item has-treeview menu-open"><a class="nav-link"
					href="#"> <i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Get the data ! <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a href="http://localhost:9898/getdata"
							class="nav-link"> <i class="fas fa-circle nav-icon"></i>
								<p>Check this out</p>
						</a></li>
					</ul></li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>