<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<div class="card card-primary" layout:fragment="content-body">
	<div class="card-header">
		<h3 class="card-title">Fill in the form below</h3>
	</div>
	<div class="card-body">
		<form role="form" id="form">
			<label for="nik">NIK</label> <input type="text" class="form-control"
				id="nik" placeholder="Enter NIK">
		</form>
		<div class="card-footer">
			<button type="button" id="btn" class="btn btn-primary">Submit
				NIK</button>
		</div>
		<table class="table table-striped table-bordered table-hover nowrap"
			id="tableBiodata" style="width: 100%"></table>
	</div>

	<th:block layout:fragment="add-scripts">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$('#btn').click(function() {
				formBiodata.getbynik($('#nik').val());
			});
		</script>
	</th:block>
</div>
</html>